
        <div class="row">

          <app-item-product class="col-lg-4 col-md-6 mb-4">       </app-item-product>
          <app-item-product class="col-lg-4 col-md-6 mb-4">       </app-item-product>
          <app-item-product class="col-lg-4 col-md-6 mb-4">       </app-item-product>
          <app-item-product class="col-lg-4 col-md-6 mb-4">       </app-item-product>
          <app-item-product class="col-lg-4 col-md-6 mb-4">       </app-item-product>
          <app-item-product class="col-lg-4 col-md-6 mb-4">       </app-item-product>

        </div>
        <!-- /.row -->