
        <div class="container-fluid">

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Danh sách sản phẩm</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>id</th>
                      <th>Name</th>
                      <th>Price</th>
                      <th>Desc</th>
                      <th>image</th>
                      <th>status</th>
                <th>
                  <a class="btn btn-primary" href="/admin/add-product">Thêm</a>
                </th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>id</th>
                      <th>Name</th>
                      <th>Price</th>
                      <th>Desc</th>
                      <th>image</th>
                      <th>status</th>
                <th>
                  <a class="btn btn-primary" href="/admin/add-product">Thêm</a>
                </th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr *ngFor="let product of products | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                      <td> {{ product.id }} </td>
                      <td> {{ product.name }} </td>
                      <td> {{ product.price }} </td>
                      <td> {{ product.desc }} </td>
                      <td><img height="100px" src="{{product.img}}" alt=""></td>
                      <td>{{(product.status == true)? "Còn hàng" : "Hết hàng"}}</td>
                  <td>
                    <a class="btn btn-info" [routerLink]="['/admin/detail-product', product.id]">
                      Chi tiết
                    </a>
                    <a class="btn btn-warning" [routerLink]="['/admin/edit-product', product.id]">
                      Sửa
                    </a>
                      <button class="btn btn-danger" (click)="delProduct(product.id)">Delete</button>
                  </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>

    <div *ngIf="detail">
      <h3 class="text-primary">Chi tiết sản phẩm</h3>
      <p>Tên sản phẩm: <b class="text-danger">{{detail.name}}</b> </p>
      <p>Giá sản phẩm: <b class="text-danger">$ {{detail.price}}</b></p>
      <p>Ảnh sản phẩm: <img width="50px" src="{{detail.img}}"></p>
      <p>Mô tả: <b class="text-danger">{{detail.desc}}</b></p>
      
    </div>
